.charts {
  width: 80%;
  height: 35%;
  margin: auto;
  margin-top: 50px;
}

.pieChartDiv {
  padding: 0;
  float: left;
  width: 50%;
  height: 100%;
}

.barChartDiv {
  float: right;
  width: 50%;
  height: 100%;
}

#piechart {
  width: 100%;
  height: 100%;
}

#chart_div {
  width: 100%;
  height: 100%;
}

#piechart > div > div > div > svg > rect {
  fill: #f8f9fa !important;
}

#chart_div > div > div > div > svg > rect {
  fill: #f8f9fa !important;
}